/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}


ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
    line-height: 25px;
}

html,
body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

h4 {
    margin: 15px 0 15px 0;
}

h2 {
    margin: 15px;
}


section {
    padding: 10px;
    margin: 20px 0 20px 0;
}

p {
    padding: 10px;
    background: rgba(255, 255, 255, .4);
    box-shadow: 1px 1px 5px 1px blue;
    border-radius: 5px;
}

a {
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.nav-a {
    transition: all 1s ease-in-out;
}

.nav-a:hover {
    transition: all 1s ease-in-out;
    color: red;
    transform: scale(1.15);
}

button {
    text-decoration: none;
    transition: all 1s ease-in-out;
}

button:hover {
    transition: all 1s ease-in-out;
    color: red;
    transform: scale(1.3);
}

button.more {
    margin: 15px;
}



button.more {
    margin: 15px;
}

.logo{
        transition: all 1s ease-in-out;
}

.logo:hover{
    transition: all 1s ease-in-out;
    background-color:yellow;
}

.top {
    border-top: 2px ridge black;
}




.bottom {
    border-bottom: 2px ridge black;
    padding-bottom: 50px;
}

.head {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin: 10px 0px 20px 150px;
    padding: 0 25px 0 0;
    font-size: 70px;
    text-align: center;
    align-self: flex-end;
}

.main-container {
    display: flex;
    margin: 5px auto;
    max-width: 1000px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    flex-direction: column;
    background: linear-gradient(37deg, rgba(185, 185, 185, .5), rgba(0, 0, 0, .5), rgba(255, 255, 255, .3));

}

.img-h {
    margin-right: 50px;
}

.middle-img {
   width:100%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.get-started {
    width: 50%;
}

.service-nav {
    display: flex;
    margin-bottom: 100px;
    justify-content: space-between;
    background: linear-gradient(42deg, rgba(198, 195, 195, .8) 0 70%, rgba(200, 200, 200, .5) 100%);
    box-shadow: 1px 1px 5px 1px blue;
    padding: 12px;
    border-radius: 7px;
}

.service-nav a {
    color: black;
    text-shadow: 2px 1px 3px white;
}

.main-container .sec {
    display: flex;
    justify-content: space-between;
}

.main-container .contact {
    display: flex;
    justify-content: space-between;
}

.main-container .sec.copy {
    display: flex;
    justify-self: flex-end;
    justify-content: center;

}

.sec-column {
    display: flex;
    flex-direction: column;

}

.sec-column .rows {
    display: flex;
    justify-content: space-between;
}

.view {
    background: lightblue;
    width: 47%;
}

.fact-list {
    list-style: disc;
    list-style-position: inside
}



.sec-column {
    display: flex;
    flex-direction: column;

}

.sec-column .rows {
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    background: rgba(155, 155, 155, .1);
    width: 47%;
}

.fact-list {
    list-style: disc;
    list-style-position: inside;
}


.tablet-view {
    display: none;
}

@media(max-width: 800px) {

    .head {
        margin: auto;
        padding: auto;
        width: 100%;
    }

.head button{
    width:20%;
}
    .tablet-view {
        display: flex;
        margin: 0 auto 50px;
    }

    .logo {
        display: none;
    }

    .img-h {
        display: none
    }

}

@media(max-width: 600px) {
 
    .logo {
        display: block;
        margin: auto;
    }
 
    .tablet-view {
        display: none;
    }

    * {
        overflow-x: none;
        text-align: center;
    }

    p {
        width:100%;
    }
.left,.right{
    width:100%;
}
    .sec {
        width: 550;
        justify-content:flex-start;
        flex-direction: column;
    }

    h4{
  
        text-align: left;
    }
    .main-container {
        display: flex;
        width: 100%;

    }

    .rows {
        width: 100%;
        margin: 0;
        padding: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }

    .head {
        margin: auto;
        padding: auto;
        width: 100%;
    }



    .service-nav {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

    }

    .service-nav a {
        font-size: 3vh;
        text-align: center;
        border: 1px ridge gray;
    }

    .service-nav a img {}

    .services {
        margin-top: 25px;
    }

    .img-h {
        display: none
    }


}
